<h1> This is an irreversible action. Are you sure you want to reset the database? </h1>

<form method="POST", action="/admin/confirm_reset_database">
  <select class="" name="reset_confirmation">
    <option value="No"> No </option>
    <option value="Yes"> Yes </option>
  </select>
  <input type="submit" value="Submit" />
</form>
