<div class="container pt-3">
  <div class="row title">
    <h1>Teacher's Form</h1>
  </div>

  <form method='POST', action='/forms/teacher_submit'>
    <div class="tab">
      <div class="form-group required">
        <label for="name">Teacher Name</label>
        <input type="text" name="question[teacher_name]" class="form-control" placeholder="ex. First Middle Last">
        <small class="form-text text-muted">Please enter your full name here!</small>
      </div>
      <div class="form-group required">
        <label for="phone">Phone Number</label>
        <input type="text" name="question[phone]" class="form-control" placeholder="ex. 000-000-0000" id="phone_number_form" maxlength="12" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
        <small class="form-text text-muted">Please enter your phone number here!</small>
      </div>
      <div class="form-group email-group required">
        <label for="email">Email address</label>
        <input type="text" name="question[email]" class="form-control email" placeholder="ex. TMC@gmail.com" >
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>
    <div class="tab">
      <div class="form-group required">
        <div id="class-groups">
         <div class="class-group form-group class_box">
            <label style="margin: 10px">New Class</label>
            <!-- class name -->
            <div class="row class_row form-group required">
              <div class="">
                <label for="class_name">Class Name</label>
                <input type="text" name="question[class_name][]" class="form-control" placeholder="ex. Piano Beginner">
              </div>
            </div>
            <!-- school name -->
            <div class="row class_row">
              <div class="form-group required">
                <label for="school_name">School</label>
                <input type="text" name="question[school_name][]" class="form-control" placeholder="ex. Berkeley elementary school">
              </div>
            </div>
            <!-- gradelevel -->
            <div class="row class_row">
              <div class="form-group dropdown-group required">
                <label for="grade">Grade Level</label>
                <select class="form-control" name="question[grade][]">
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
            </div>
            <!-- time group -->
            <div class="class_row form-group dropdown-group required">
              <div id="time-groups">
                <label>Time Availability</label>
                <div class="time-group row">
                  <div class="col-md-4" id="day_of_week">
                    <select class="form-control" name="question[weekday][]">
                      <option disabled selected value> -- Day of the Week -- </option>
                      <option value="Monday">Monday</option>
                      <option value="Tuesday">Tuesday</option>
                      <option value="Wednesday">Wednesday</option>
                      <option value="Thursday">Thursday</option>
                      <option value="Friday">Friday</option>
                      <option value="Saturday">Saturday</option>
                      <option value="Sunday">Sunday</option>
                    </select>
                  </div>
                  <div class="col-md-4" id="start_time">
                    <input class="form-control" name="question[start_time][]" type="time" value="13:00" id="example-time-input" step="1800">
                  </div>
                  <div class="col-md-4" id="end_time">
                    <input class="form-control" name="question[end_time][]" type="time" value="15:00" id="example-time-input" step="1800">
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-sm" id="add_time">
                Add More Time Availability
              </button>
              <button type="button" class="btn btn-primary btn-sm" id="rem_time">
                Remove Time Availability
              </button>
              <small class="form-text text-muted">Select the time you are requesting.</small>
            </div>
            <!-- instruments -->
            <div class="row class_row form-group dropdown-group required">
              <div id="instruments">
                <label>Instrument/Singing</label>
                <div class="instrument">
                  <div class="instrument_box">
                    <div class="paddedBox">
                      <input type="checkbox" name="question[instrument][]" value="Violin"> Violin <br>
                      <input type="checkbox" name="question[instrument][]" value="Viola"> Viola <br>
                      <input type="checkbox" name="question[instrument][]" value="Cello"> Cello <br>
                      <input type="checkbox" name="question[instrument][]" value="Double Bass"> Double Bass
                    </div>
                  </div>
                  <div class="instrument_box">
                    <div class="paddedBox">
                      <input type="checkbox" name="question[instrument][]" value="Flute"> Flute <br>
                      <input type="checkbox" name="question[instrument][]" value="Clarinet"> Clarinet <br>
                      <input type="checkbox" name="question[instrument][]" value="Saxophone"> Saxophone <br>
                      <input type="checkbox" name="question[instrument][]" value="Oboe"> Oboe <br>
                      <input type="checkbox" name="question[instrument][]" value="Trumpet"> Trumpet <br>
                      <input type="checkbox" name="question[instrument][]" value="French Horn"> French Horn <br>
                      <input type="checkbox" name="question[instrument][]" value="Trombone"> Trombone <br>
                      <input type="checkbox" name="question[instrument][]" value="Baritone"> Baritone <br>
                      <input type="checkbox" name="question[instrument][]" value="Tuba"> Tuba <br>
                      <input type="checkbox" name="question[instrument][]" value="Percussion"> Percussion
                    </div>
                  </div>
                  <div class="instrument_box">
                    <div class="paddedBox">
                      <input type="checkbox" name="question[instrument][]" value="Piano"> Piano <br>
                      <input type="checkbox" name="question[instrument][]" value="Guitar"> Guitar <br>
                      <input type="checkbox" name="question[instrument][]" value="Ukelele"> Ukelele <br>
                      <input type="checkbox" name="question[instrument][]" value="Voice"> Voice
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm" id="add_class">
          Add Another Class
        </button>
        <button type="button" class="btn btn-primary btn-sm" id="rem_class">
          Remove A Class
        </button>
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" name="question[comment]" class="form-control">
        <small class="form-text text-muted">Special instructions / Preference</small>
      </div>
    </div>
    <button type="button" id="prev_btn" class="btn btn-primary">Prev</button>
    <button type="button" id="next_btn" class="btn btn-primary">Next</button>
    <button type="submit" id="sub_btn" class="btn btn-primary">Submit</button>
  </form>

<%= javascript_include_tag('teacherforms.js') %>
<%= stylesheet_link_tag    'forms', media: 'all', 'data-turbolinks-track' => true %>
