<div class="container pt-3">
  <h5>Your form has been submitted. We will be sending out the results through email soon.</h5> <br />
  <form action="/">
      <input type="submit" value="Home" class="btn btn-primary" />
  </form>
</div>